body {
	
	margin: 0;
	padding: 10% 0 0 0;
	text-align: center;
}

#quoteDisplay {
	width: 20%;
	height: auto;
	background-color: #2256AA;
	margin-left: 40%;
	border: solid #2256AA;
	border-radius: 15px;
	color: white;
}
